set vpn ipsec site-to-site peer 40.91.214.177 authentication mode pre-shared-secret
set vpn ipsec site-to-site peer 40.91.214.177 authentication pre-shared-secret xxxxxxxxxxx
set vpn ipsec site-to-site peer 40.91.214.177 connection-type initiate
set vpn ipsec site-to-site peer 40.91.214.177 description vpn-we-gw-0
set vpn ipsec site-to-site peer 40.91.214.177 ike-group azure-ike
set vpn ipsec site-to-site peer 40.91.214.177 ikev2-reauth inherit
set vpn ipsec site-to-site peer 40.91.214.177 local-address 192.168.15.2
set vpn ipsec site-to-site peer 40.91.214.177 vti bind vti2
set vpn ipsec site-to-site peer 40.91.214.177 vti esp-group azure-esp


set vpn ipsec site-to-site peer 51.137.103.199 authentication mode pre-shared-secret
set vpn ipsec site-to-site peer 51.137.103.199 authentication pre-shared-secret xxxxxxxxxxx
set vpn ipsec site-to-site peer 51.137.103.199 connection-type initiate
set vpn ipsec site-to-site peer 51.137.103.199 description vpn-we-gw-1
set vpn ipsec site-to-site peer 51.137.103.199 ike-group azure-ike
set vpn ipsec site-to-site peer 51.137.103.199 ikev2-reauth inherit
set vpn ipsec site-to-site peer 51.137.103.199 local-address 192.168.15.2
set vpn ipsec site-to-site peer 51.137.103.199 vti bind vti3
set vpn ipsec site-to-site peer 51.137.103.199 vti esp-group azure-esp

set protocols bgp 65510 neighbor 169.254.21.1 remote-as 65002
set protocols bgp 65510 neighbor 169.254.21.1 soft-reconfiguration inbound
set protocols bgp 65510 neighbor 169.254.21.1 update-source 169.254.21.2

set protocols bgp 65510 neighbor 169.254.21.5 remote-as 65002
set protocols bgp 65510 neighbor 169.254.21.5 soft-reconfiguration inbound
set protocols bgp 65510 neighbor 169.254.21.5 update-source 169.254.21.6