set vpn ipsec site-to-site peer 4.180.206.122 authentication mode pre-shared-secret
set vpn ipsec site-to-site peer 4.180.206.122 authentication pre-shared-secret xxxxxxxxxxx
set vpn ipsec site-to-site peer 4.180.206.122 connection-type initiate
set vpn ipsec site-to-site peer 4.180.206.122 description vpn-we-gw-0
set vpn ipsec site-to-site peer 4.180.206.122 ike-group azure-ike
set vpn ipsec site-to-site peer 4.180.206.122 ikev2-reauth inherit
set vpn ipsec site-to-site peer 4.180.206.122 local-address 192.168.15.2
set vpn ipsec site-to-site peer 4.180.206.122 vti bind vti2
set vpn ipsec site-to-site peer 4.180.206.122 vti esp-group azure-esp

set vpn ipsec site-to-site peer 4.180.206.115 authentication mode pre-shared-secret
set vpn ipsec site-to-site peer 4.180.206.115 authentication pre-shared-secret xxxxxxxxxxxxx
set vpn ipsec site-to-site peer 4.180.206.115 connection-type initiate
set vpn ipsec site-to-site peer 4.180.206.115 description vpn-we-gw-1
set vpn ipsec site-to-site peer 4.180.206.115 ike-group azure-ike
set vpn ipsec site-to-site peer 4.180.206.115 ikev2-reauth inherit
set vpn ipsec site-to-site peer 4.180.206.115 local-address 192.168.15.2
set vpn ipsec site-to-site peer 4.180.206.115 vti bind vti3
set vpn ipsec site-to-site peer 4.180.206.115 vti esp-group azure-esp

set protocols bgp 65510 neighbor 169.254.21.1 remote-as 65002
set protocols bgp 65510 neighbor 169.254.21.1 soft-reconfiguration inbound
set protocols bgp 65510 neighbor 169.254.21.1 update-source 169.254.21.2

set protocols bgp 65510 neighbor 169.254.21.5 remote-as 65002
set protocols bgp 65510 neighbor 169.254.21.5 soft-reconfiguration inbound
set protocols bgp 65510 neighbor 169.254.21.5 update-source 169.254.21.6